* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body nav {
  background-color: #30336b;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

body nav .logo {
  padding: 30px 0;
  text-align: center;
}

body nav .logo img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

body nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

body nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
}

body nav ul li a {
  color: white;
  text-decoration: none;
}

body nav ul li a:hover {
  -webkit-text-decoration: underline #22abce;
          text-decoration: underline #22abce;
}

body nav ul li:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

body header {
  background-color: #30336b;
  color: white;
  font-size: 120%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

body header h1 {
  margin: 0;
}

body header p {
  margin: 30px 0;
}

body header .toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 25px;
  left: 20px;
}

body header .cta-btn {
  padding: 12px 30px;
  font-size: 20px;
}

body .container {
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

body .container p {
  margin: 30px 0;
}

body .modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body .modal-container .modal {
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  -webkit-animation-name: modalopen;
          animation-name: modalopen;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

body .modal-container .modal .close-btn {
  background: transparent;
  font-size: 25px;
  position: absolute;
  top: 0;
  right: 0;
}

body .modal-container .modal .modal-header {
  background: #30336b;
  color: white;
  padding: 15px;
}

body .modal-container .modal .modal-header h3 {
  margin: 0;
  border-bottom: 1px solid #333;
}

body .modal-container .modal .modal-content {
  padding: 20px;
}

body .modal-container .modal .modal-content p {
  margin: 30px 0;
}

body .modal-container .modal .modal-content .modal-form div {
  margin: 15px 0;
}

body .modal-container .modal .modal-content .modal-form div label {
  display: block;
  margin-bottom: 5px;
}

body .modal-container .modal .modal-content .modal-form div .form-input {
  padding: 8px;
  width: 100%;
}

body .modal-container .modal .modal-content .modal-form .submit-btn {
  display: block;
  padding: 12px;
  width: 100%;
}

body .modal-container.show-modal {
  display: block;
}

body button, body input[type='submit'] {
  background-color: #eb2edd;
  border: 0;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

body button:focus {
  outline: none;
}

body.show-nav {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}
/*# sourceMappingURL=style.css.map */