$modal-duration:1s;
$prmry-color:#30336b;
$scndry-color:#eb2edd;
$border:rgba(200,200,200,0.1);
$shadow:rgba(0,0,0,0.3);
*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;

    nav{
        background-color: $prmry-color;
        border-right: 2px solid $border;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        width: 200px;
        height: 100vh;
        z-index: 100;
        transform: translateX(-100%);

        .logo{
            padding: 30px 0;
            text-align: center;

            img{
                height: 75px;
                width: 75px;
                border-radius: 50%;
            }
        }

        ul{
            padding: 0;
            list-style-type: none;
            margin: 0;

            li{
                border-bottom: 2px solid $border;
                padding: 20px;

                a{
                    color: white;
                    text-decoration: none;
                }

                a:hover{
                    text-decoration: underline rgb(34, 171, 206);
                }
            }
            li:first-of-type {
                border-top: 2px solid $border;
            }
        }
    }

    header{
        background-color: $prmry-color;
        color: white;
        font-size: 120%;
        position: relative;
        padding: 40px 15px;
        text-align: center;

        h1{
            margin: 0;
        }

        p{
            margin: 30px 0;
        }

        .toggle{
            background-color: $shadow;
            position: absolute;
            top: 25px;
            left: 20px;
        }

        .cta-btn{
            padding: 12px 30px;
            font-size: 20px;
        }
    }


    button,input[type='submit']{
        background-color: $scndry-color;
        border: 0;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 8px 12px;
    }

    button:focus{
        outline: none;
    }

}